<div class="flex-vertical evenly-vertical">

  <h1>Welcome to TwentyOne!</h1>

  <div class="center-horizontal">
    <img id="main-image" width="400px" src="/images/assortment.png">
  </div>

  <a href="/play" class="center-horizontal button purple">Play Game!</a>

</div>
