<div class="center-children flex-vertical evenly-vertical">
  <h1>Welcome to TwentyOne!</h1>
  <div class="center-horizontal">
    <img id="main-image" width="400px" src="/images/assortment.png">
  </div>
  <div class="center-horizontal button purple">
    <a class="no-decorate" href="/play">Play Game!</a>
  </div>
</div>
