<!DOCTYPE html>

<html lang="en">

  <head>
    <link href="/stylesheets/twenty-one.css" rel="stylesheet" type="text/css">
    <title>TwentyOne | A Simple App</title>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
