<div class="flex-vertical">

  <h1>Are you sure you want to reset?</h1>

  <div class="flex between reset-bar">

    <form class="center-child" action="/reset" method="POST">
      <button class="button red action">Yes, I'm sure!</button>
    </form>

    <form class="center-child" action="/play">
      <button class="button green action">No, take me back!</button>
    </form>

  </div>

</div>
