* {
    box-sizing: border-box;
}

body * {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

header,
footer {
    position: absolute;
    height: 74px;
    left: 0px;
    right: 0px;
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
    background-color: #00f5;
}

main {
    position: absolute;
    top: 74px;
    bottom: 74px;
    left: 0px;
    right: 0px;
}

.flash {
    text-align: center;
    font-size: 26px;
    height: inherit;
    padding: 24px;
}

.success {
    background-color: #0f05;
}

.danger {
    background-color: #f005;
}

.neutral {
    background-color: #00f5;
}

.center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.center-horizontal {
    margin-right: auto;
    margin-left: auto;
}

.copy {
    color: #e31b6d;
    font-weight: 500;
}

.flex {
    display: flex;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.evenly-vertical {
    align-content: space-evenly;
}

h1 {
    font-weight: 500;
    font-size: 3em;
    color: #ff7f90;
    text-align: center;
    margin: 0px;
}

.center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0.7em;
    font-size: 2em;
    background-color: #ddd;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(75%);
}

.button:focus {
    outline: 0;
}

.action {
    width: 90%;
    height: 50%;
}

.purple {
    color: purple;
    background-color: #d6f5;
}

.green {
    color: green;
    background-color: #2f95;
}

.blue {
    color: blue;
    background-color: #43f3;
}

.red {
    color: red;
    background-color: #f625;
}

#main-image {
    margin: 1em;
}

.grid {
    display: grid;
}

#game {
    grid-template-rows: 200px 200px;
    grid-template-columns: 600px 150px;
    column-gap: 25px;
    row-gap: 25px;
}

.cards {
    width: 600px;
    height: 200px;
    align-items: center;
}

h3 {
    margin: 0px;
    padding: 5px;
    font-weight: 500;
}

.reset {
    height: 325px;
}

.big-button {
    width: 175px;
}

.reset-bar {
    height: 300px;
}
